body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    margin-top: 80px;
}
h2 {
    color: #333;
}
img {
    width: 180px;
    margin-top: 20px;
}
button {
    margin-top: 25px;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    background-color: #94b8b8;
}